/* 
    Document   : CuadroLogin
    Created on : 14-07-2013, 11:30:16 PM
    Author     : darwin
    Description:
        Purpose of the stylesheet follows.
*/

#contenidoLogin{
    margin-top: 0.3%;
    width: 45.5%;
    height: 25%;
    text-align: right;
    float: left;
}

#closeSession{
    margin-top: 0.5%;
    float: bottom;
}