.order-table-pedido{   
    width: content-box;
    border-collapse: collapse;
    border-style: solid;
}

.cabecera-pedido{
    text-align:center;
    background:none repeat scroll 0 0 #E5E5E5;
    padding-left:1em;
    padding-right: 1em;
    font-size: 1em;
}

.dato-pedido{
    text-align:center;
    background:none repeat scroll 0 0 #FFF;
    padding:1em; 
}