body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: #42413C;
    color: #000;
}


.logoLogin{
    margin: 0 15%;
    width: 70%;
    height: 35%;
    float:left;
}


.container {
    width: 80%;
    background-color: #FFF;
    margin-left: 10%; 
    margin-right: 10%;
    float:left;
}

.content {
    margin-bottom: 5%;
    margin-top: 2%;
    margin-left: 30%;
    width: 40%;
    float:left;
}

