.mainmenu {
    alignment-baseline: central;
    width: 100%;
    float:left;
}

#menu {
	border: 0.1% solid #222;
	background-color: #111;
	background-image: linear-gradient(#444, #111);
	border-radius: 0.5em;
	box-shadow: 0 0.0625em 0.0625em #777;
        list-style-type: none;
        zoom:1;
}

#menu li {
	float: left;
	border-right: 0.0625em solid #222;
	box-shadow: 0.0625em 0 0 #444;
	position: relative;
}

#menu a {
	float: left;
	padding: 1em 1.875em;
	color: #999;
	text-transform: uppercase;
	font: bold 1em Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 0.0625em 0 #000;
}

#menu:hover > a{
	color: #fafafa;
}

#menu li:hover > a{
	color: #fafafa;
}

*html #menu li a:hover{ /* IE6 */
	color: #fafafa;
}

#menu li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}

/* Sub-menu */

#menu ul {
	margin: 1.25% 0 0 0;
	_margin: 0; /*IE6 only*/
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 2.375%;
	left: 0;
	z-index: 1;    
	background: #444;	
	background: linear-gradient(#444, #111);
	box-shadow: 0 -0.0625em 0 rgba(255,255,255,.3);	
	border-radius: 0.25em;
	transition: all .2s ease-in-out;  
}

#menu ul ul {
	top: 0;
	left: 9.375em;
	margin: 0 0 0 1.25em;
	_margin: 0; /*IE6 only*/
	box-shadow: -0.0625em 0 0 rgba(255,255,255,.3);		
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 0.0625em 0 #111111, 0 0.125em 0 #777777;
    -webkit-box-shadow: 0 0.0625em 0 #111111, 0 0.125em 0 #777777;
    box-shadow: 0 0.0625em 0 #111111, 0 0.125em 0 #777777;
}

#menu ul li {
	border: 0;
}

#menu ul li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a {    
	padding: 0.625em;
	width: 8.125em;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

#menu ul a:hover{
        background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}

#menu ul a:hover {
	background-color: #0186ba;
	background-image: linear-gradient(#04acec, #0186ba);
}


#menu ul li:first-child a{
    -moz-border-radius: 0.3125em 0.3125em 0 0;
    -webkit-border-radius: 0.3125em 0.3125em 0 0;
    border-radius: 0.3125em 0.3125em 0 0;
}

#menu ul li:first-child > a {
    border-radius: 0.1875em 0.1875em 0 0;
}

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 1.875em;
    top: -0.5em;
    width: 0;
    height: 0;
    border-left: 0.3125em solid transparent;
    border-right: 0.3125em solid transparent;
    border-bottom: 0.5em solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #04acec; 
}

#menu ul li:last-child a{
    -moz-border-radius: 0 0 0.3125em 0.3125em;
    -webkit-border-radius: 0 0 0.3125em 0.3125em;
    border-radius: 0 0 0.3125em 0.3125em;
}



/* Clear floated elements */

#menu:before, #menu:after {
	content: "";
	display: table;
}

#menu:after {
	clear: both;
}
