.order-table-hor{  
    border-collapse:collapse;
    border-style: solid;
    width: 90%;
}

.order-table-header-hor{
    text-align:center;
    background:none repeat scroll 0 0 #E5E5E5;
    border-bottom:0.0625em solid #BBBBBB;
    padding-left:1.4em;
}

.order-table-odd-row-hor{
    text-align:center;
    background:none repeat scroll 0 0 #FFFFFF;
    border-top:0.0625em solid #BBBBBB;
}

.order-table-even-row-hor{
    text-align:center;
    background:none repeat scroll 0 0 #F9F9F9;
    border-top:0.0625em solid #BBBBBB;
}