.order-table{   
    width: content-box;
    border-collapse: collapse;
    border-style: solid;
}

.cabecera{
    text-align:center;
    background:none repeat scroll 0 0 #E5E5E5;
    border-bottom:0.1% solid #BBBBBB;
    padding:1%;
    font-size: 1.4em;
}

.dato{
    text-align:center;
    background:none repeat scroll 0 0 #FFF;
    border-top:0.1% solid #BBBBBB;
    padding:1%;
    
}