
h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;	 
    padding-right: 15px;
    padding-left: 15px; 
    text-align: center;
    font-weight: bold;
    color: #666;
    font-size: 80%;
}

a img { /* este selector elimina el borde azul predeterminado que se muestra en algunos navegadores alrededor de una imagen cuando está rodeada por un vínculo */
    border: none;
}

/* ~~ La aplicación de estilo a los vínculos del sitio debe permanecer en este orden (incluido el grupo de selectores que crea el efecto hover -paso por encima-). ~~ */
a:link {
    color:#414958;
    text-decoration: underline; /* a no ser que aplique estilos a los vínculos para que tengan un aspecto muy exclusivo, es recomendable proporcionar subrayados para facilitar una identificación visual rápida */
}
a:visited {
    color: #4E5869;
    text-decoration: underline;
}
a:hover, a:active, a:focus { /* este grupo de selectores proporcionará a un usuario que navegue mediante el teclado la misma experiencia de hover (paso por encima) que experimenta un usuario que emplea un ratón. */
    text-decoration: none;
}

.tittleContent{
    text-align:center;
    border-collapse:collapse;
    border-bottom:0.3% solid #BBBBBB;
    font-size: 18pt;
}

